.frame {
    border: 2px solid #b4b4b4;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 4px 4px 4px #CCCCCC;
    align-items: center;
  }

h1 {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #333333;
}

.button
{
    position: relative;
    display: inline-block;
    padding: 19px 39px 18px 39px;
    color: rgb(0, 0, 0);
    margin: 0 auto;
    background: #d3d3d3;
    font-size: 25px;
    text-align: center;
    font-style: normal;
    border: 1px solid #000000;
    border-width: 1px 1px 1px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
}

.content {
  max-width: 600px;
  margin: auto;
}